 @import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Poppins:wght@500&display=swap');
    html{
   height: 100%;
   }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      background: #e8eaee;
      overflow: auto;

    }
.post-page,
.post-page * {
  box-sizing: border-box;
}
.post-page {
  background: var(--pagebackground, #e8eaee);
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
}
.Logo img{
  position: absolute; 
  left: 0%; 
  top: 0%;    
  width: 100%; height: 100%;
}
.Logo {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute; 
  left: 10%; 
  top: 5%; 
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 120px;
  height: 80px;
  z-index: 5;
  background-size: cover;
}
.navi {
  border-radius: 20px 20px 20px 20px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  height: 80px; 
  left: 70%; 
  top: 5%; 
  position: relative;
  overflow: hidden;
}
.results {
  background: var(--white, #ffffff);
  padding: 60px 70px 50px 80px;/* 위 오른쪽 아래 왼쪽*/
  border-radius: 20px 20px 20px 20px;
  width: 80%; 
  height: 60%; 
  left: 10%; 
  top: 8%;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  font-size:20px;
  line-height:2.0;
  font-family:'Poppins', sans-serif;
}

.Button_form {
  background: #f0f0f0;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 1px #f0f0f0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 4px 0 0 rgb(192, 192, 192),
        0 4px 0 1px rgba(0,0,0,.4),
        0 4px 4px 1px rgba(0,0,0,0.5);
  border-radius: 12px;
  padding: 24px;
  height: 45px;
  width: 150px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0%; 
  top: 0%; 
  
  font: 550 20px/26px "Poppins", sans-serif;
  color:#665656;
  text-align:center;
}
.Button_form:active{
     box-shadow: 0 0 0 1px #f0f0f0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.feedresults {
  display: flex;
  flex-direction: row;
  position: absolute;
  width:100%;
  height:90%;
  left: 0%;
  top: 5%;
  overflow: scroll;
}
.feed {
  background-color: #f0f0f0;
  box-shadow: 0 0 0 1px #f0f0f0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 4px 0 0 rgb(192, 192, 192),
        0 4px 0 1px rgba(0,0,0,.4),
        0 4px 4px 1px rgba(0,0,0,0.5);
  border-radius: 12px;
  padding: 24px;
  flex-shrink: 0;
  width: 30%;
  height: 90%;
  position: relative;
}
.feed_image {
  width: 100%;
  height: 80%;
  position: relative;
  left: 0px;
  top: 0px;
}
.feed_name{
  color: var(--black, #000000);
  text-align: left;
  font: 500 24px/30px "Poppins-Medium", sans-serif;
  position: static;
  left: 0%;
  top:80%;
}
.feed_name:active {
  color:red;
  }
.feed_content{
  color:grey;
  text-align: left;
  font:500 24px/30px "Poppins-Medium", sans-serif;
  left: 0%;
  top:90%
}
.Post{
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  height: 80px; 
  left: 80%; 
  top:75%; 
  position: absolute;
  overflow: hidden;
}
